
body {
  font-family: Montserrat;
  background-color: #F9F9F9;
  color: #7a7a7a;
}

.titulo-1 {
  background-image: url(img/banner.jpg);
  background-size: cover;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
  color: #fff;
  font-size: 250%;
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
}

.titulo-2 {
  text-align: left;
  color: #8E5C4C;
}

section {
  margin-left: 5%;
  margin-right: 5%;
  vertical-align: middle;
  display: inline-block;
  width: 55%;
}

.parrafo {
  text-align: left;
}

.foto-empanadas {
  display: block;
  width: 450px;
}

.receta {
  text-align: left;
}

.receta h4 {
  color: #5f5e5e;
}

.receta h3 {
  color: #8E5C4C;
}

.video-1 {
  display: block;
}

.fuente {
  text-align: left;
}

.identidad-sitio {
  display: inline;
  vertical-align: middle;
  padding-right: 55%;
}

nav {
  float: inherit;
  vertical-align: middle;
  height: auto;
  display: inline;
}

.menu-nav {
  padding: 10px;
  text-decoration: none;
  color: #8E5C4C;
}

header {
  margin-left: 5%;
  margin-right: 5%;
}

.datos {
  float: right;
  vertical-align: middle;
  margin-right: 5%;
  background-color: #DFF9EC;
  padding: 15px;
}

.pie-de-pagina {
  background-color: #92EBBE;
  clear: right;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
  padding: 2%;
}

.pie-de-pagina .red-social {
  padding: 10px;
  width: 40px;
}

.redes-sociales {
  text-align: center;
}

.icono-whatsapp {
  width: 10%;
  position: fixed;
  top: 75%;
  left: 1px;
}
